.AboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: black;
  padding: 100px;
}

.AboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.AboutContent {
  display: flex;
  flex-direction: column;
}

.AboutHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.AboutH1 {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 70px;
  font-weight: 800;
}

.BoxContainer {
  display: flex;
  flex-direction: column;
}
