.HomeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
  height: 100vh;
}

.HomeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px; /* Adjust based on your preference */
  width: 100%;
  margin: 0 auto;
}

.HomeH1,
.HomeP {
  margin: 0;
  color: #fff;
  font-family: Inter, sans-serif; /* Added a fallback font */
  font-style: normal;
  line-height: normal;
}

.HomeH1 {
  margin-bottom: 20px;
  font-size: 70px;
  font-weight: 800;
}

.HomeP {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
}

.HomeBtn {
  width: 168px;
  height: 56px;
  border-radius: 10px;
  background: #fff;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.HomeLeft {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.HomeRight {
  display: flex;
}

.HomeImg {
  width: 100%;
  max-width: 497px;
  min-width: 400px;
  height: auto;
  flex-shrink: 0;
}
