.projectSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: black;
  padding: 100px;
}

.projectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.projectContent {
  display: flex;
  flex-direction: column;
}

.projectHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
}

.projectH1 {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 70px;
  font-weight: 800;
  margin: 0px;
}

.projectP {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.projectBox {
  display: flex;
  flex-direction: column;
}

.projectItems {
  display: flex;
}

.projectItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.projectImg {
  width: 150px;
  height: 150px;
}

.projectCards {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  gap: 30px;
  justify-content: center;
}
